*{
    margin: 0px;
    padding: 0px;
}
#header{position: absolute; width: 100vw;}
#navFirst{
    height: 30px;
    padding-top: 8px;
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: black;
}
#spanfirst{margin-left:20px; text-decoration: underline;}
#spanfirst:hover{text-decoration: none;}
#navSecond{
    height: 130px;
    position: sticky;
    background-color:aliceblue;
}
#navSecondFirst{
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}
#logoimg{
    height: 45px;
    width: 175px;
    margin-left: 40px;
}
#rightimg{
    height: 55px;
    width: 325px;
    margin-right: 25px;
    /* border: 1px solid black; */
}
#searchbar{
    height: 45px;
    width: 550px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
}
#logoimg,#rightimg,#searchbar:hover{cursor: pointer;}
#navSecondSecond{
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#navbarFirst{margin-left: 30px; display: flex; align-items: center; justify-content: center;}
#navbarFirst:hover{color: rgb(28, 179, 179);}
.navbarpara{font-size: 18px; margin: 5px;}
#navbarSecond>a{
    color: black;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
}
#navbarSecond>a:hover{color: rgb(28, 179, 179);}
#navbarThird{
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
}
.navbarThirdFirst{
    margin: 0px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarThirdFirst:hover{color: rgb(28, 179, 179);}
.material-icons:hover{cursor: pointer;}
#navbarSection1{
    position: relative;
    visibility: hidden;
    display: flex;
    margin-left: 770px;
    flex-direction: column;
    width: 40vw;
    height: 690px;
    background-color: aliceblue;
    border: 1px solid black;
}
.section1{display: flex; justify-content: space-around; margin-top: 20px; font-size: 22px;}
.section1>i{border: 1px solid black; border-radius: 20px; padding: 2px; cursor: pointer;}
.carth2,.carth4{margin: 10px;}
.span1{font-weight: lighter;}
.btn1{
    width: 50%;
    padding: 10px; 
    margin-top: 30px;
    margin-left: 20%;
    font-weight: bold; 
    background-color: white; 
    border-radius: 20px;
}
.btn2{
    width: 50%;
    padding: 10px; 
    margin-top: 80%;
    margin-left: 20%;
    font-weight: bold; 
    background-color: white; 
    border-radius: 20px;
}
.btn1,.btn2:hover{color: white; background-color: black;}

















